.cart-counter {
    display: flex;
    align-items: center;
    border: 1px solid $placeholder-outline;
    max-width: max-content;
    height: 33px;

    .counter__button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 21px;
        height: 100%;
        background-color: transparent;
        transition-property: background-color, color;
        transition-duration: 0.3s;
        transition-timing-function: ease;

        @include hover {
            background-color: $placeholder-outline;
            color: $primary-background-color;
        }

        &.disabled {
            pointer-events: none;
        }

        svg {
            width: 7px;
            height: 7px;
        }
    }

    .counter__input {
        max-width: 28px;
        appearance: none;
        border: none;
        text-align: center;
        outline: none;
        -moz-appearance: textfield;
        background: none;

        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
            -webkit-appearance: none;
        }
    }
}