@import "../_utils/utils";

.featured-products {
  padding-top: 40px;
  padding-bottom: 40px;

  .product-card__image {
    max-width: max-content;
  }

  .featured-products__wrapper {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  .featured-products__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 32px;
  }

  .featured-products__item {
    width: 100%;
    max-width: 400px;
  }

  .featured-products__heading {
    text-align: center;
    font-family: Outfit;
    font-size: 36px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
  }
}