@import "../_utils/utils";

.footer {
    padding-top: 20px;

    @include breakpoint(large) {
        padding-top: 40px;
    }

    .footer-top {
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding-bottom: 20px;

        @include breakpoint(large) {
            padding-bottom: 40px;
        }
    }

    .footer-top__list {
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 20px;
    }

    .footer-top__item {
        line-height: 26px;

        @include breakpoint(extra-small) {
            min-width: 100px;
        }
    }

    .footer-center {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 20px;
        padding-top: 20px;
        padding-bottom: 20px;
        border-top: 1px solid $border-primary;
        border-bottom: 1px solid $border-primary;

        @include breakpoint(large) {
            padding-top: 40px;
            padding-bottom: 40px;
        }
    }

    .footer-center__item {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .footer-center__item-list {
        display: flex;
        flex-direction: column;
    }

    .footer-newsletter {
        width: 100%;

        @include breakpoint(small) {
            max-width: 300px;
        }
    }

    .footer-newsletter__header {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .footer-newsletter__description {
        line-height: 20px;
    }

    .footer-newsletter__form {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-top: 20px;
    }

    .footer-newsletter__label {
        display: flex;
        align-items: center;
        padding: 16px 22px;
        border: 1px solid $tertiary-background-color;
    }

    .footer-newsletter__input {
        font-size: 15px;
        font-weight: 300;
        line-height: normal;
        -webkit-appearance: none;
        appearance: none;
        border: none;
        padding: 0;
        font-size: 14px;
    }

    .footer-newsletter__button {
        display: flex;
        text-align: center;
        width: 100%;
        padding: 17px;
        background-color: $primary-button-background;
        color: $primary-button-text-color;
        border: 1px solid $primary-button-background;
        line-height: normal;
        letter-spacing: 1.4px;

        @include hover {
            background-color: $tertiary-button-background;
            color: $secondary-button-text-color;
        }
    }

    a {
        text-decoration: none;
    }

    .footer-payments {
        display: flex;
        flex-direction: column;
        gap: 25px;

        @include breakpoint(large) {
            max-width: 200px;
        }
    }

    .footer-payments__column {
        display: flex;
        flex-direction: column;
        gap: 23px;

        .paragraph {
            line-height: normal;
        }
    }

    .footer-payments__column-list {
        display: flex;
        flex-wrap: wrap;
        gap: 12px;
    }

    .footer-payments__column-item {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .footer-payments__socials {
        display: flex;
        flex-wrap: wrap;
        gap: 19px;

        a {
            display: flex;
            align-items: center;
            justify-content: center;
            min-width: 24px;
            max-width: 24px;
            width: 100%;
            height: 24px;
            padding: 1px;
        }

        svg {
            width: 100%;
            height: 100%;
        }
    }

    .footer-bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        gap: 20px;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .footer-bottom__row {
        display: flex;
        align-items: center;
        gap: 4px;
    }

    .footer-bottom__text-row {
        
    }
}