@import "../_utils/utils";

.main-product {
  display: grid;

  @include breakpoint(large) {
    grid-template-columns: 51% 49%;
  }

  .main-product__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
  }

  .main-product__title {
    margin-top: 5px;
  }

  .main-product-gallery__main {
    position: relative;
    width: 100%;
    padding-bottom: 100%;

    img {
      object-fit: cover;
    }

    img,
    svg {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

    .media-play-button {
      * {
        pointer-events: none;
      }
    }
  }

  .main-product-gallery__main-inner {
    &:not(.hidden) {
      animation: animation-opacity 0.3s ease;
    }
  }

  .main-product-gallery__button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;

    svg {
      position: static;
    }

    &:not(.main-product-gallery__button--next) {
      left: 0;
      right: initial;

      svg {
        transform: scaleX(-1);
      }
    }

    @include hover {
      background-color: $primary-button-background;
      color: $primary-button-text-color;
    }
  }

  .main-product__wrapper {
    display: flex;
    justify-content: center;
    background-color: $secondary-background-color;
  }

  .main-product__wrapper-inner {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 20px;
    padding-right: 20px;

    @include breakpoint(large) {
      padding-top: 72px;
      padding-bottom: 57px;
      max-width: 464px;
    }
  }

  .main-product-gallery__slider {
    padding: 20px;
  }

  .main-product-gallery-slider__slide {
    position: relative;
    cursor: pointer;
    height: auto;
    padding-bottom: 15.38%;
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
    transition-property: border;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    width: 15.64%;

    &:not(:last-child) {
      margin-right: 5px;

      @include breakpoint(extra-small) {
        margin-right: 10px;
      }
    }

    * {
      pointer-events: none;
    }

    img,
    svg {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

    img {
      object-fit: cover;
    }

    &.active {
      border-color: $tertiary-background-color;
    }
  }

  .main-product__prices {
    margin-top: 17px;
  }

  .main-product__price-top {
    display: flex;
    align-items: center;
    gap: 6px;
  }

  .main-product__price-text {
    &.main-product__price-text--primary {
      color: $tertiary-text-color;
    }

    &.main-product__price-text--throught {
      opacity: 0.6;
      text-decoration: line-through;
    }
  }

  .main-product__discount {
    display: flex;
    font-size: 16px;
    gap: 6px;
  }

  .main-product__price-wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .main-product__options {
    display: flex;
    flex-direction: column;
    gap: 13px;
    margin-top: 20px;
  }

  .main-product__option-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 15px;

    &:not(.main-product__option-list--color) {
      gap: 19px;
    }

    &.main-product__option-list--color {
      gap: 8px;
    }
  }

  .main-product__option-title {
    &.main-product__option-title--button {
      background-color: transparent;
      padding: 0;

      * {
        pointer-events: none;
      }
    }
  }

  .main-product__option-radio {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
    padding: 0;
    margin: 0;
    outline: none;
    border: 0;

    &:checked ~ .main-product__option-label.main-product__option-label--color {
      border: 1px solid $black;
    }

    &:checked ~ .main-product__option-label:not(.main-product__option-label--color) {
      border: 1px solid $black;
    }

    &:focus-visible ~ .main-product__option-label {
      outline: Highlight auto 1px;
      outline-offset: 1px;
    }
  }

  .main-product__option-label {
    display: flex;
    align-items: center;
    justify-content: center;
    transition-property: border;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    -webkit-transition: border 0.3s ease;
    -moz-transition: border 0.3s ease;
    -o-transition: border 0.3s ease;

    @include hover {
      cursor: pointer;
    }

    &.main-product__option-label--color {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      border: 1px solid $placeholder-outline;
      padding: 5px;
      background-color: $white;
      filter: drop-shadow(0px 0px 0px $placeholder-outline) drop-shadow(0px 0px 0px $white);
    }

    &:not(.main-product__option-label--color) {
      min-width: 44px;
      height: 44px;
      border: 1px solid $placeholder-outline;
    }

    .main-product__option-label-fill {
      width: 100%;
      height: 100%;
      background: var(--color-swatch-background, none);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      border-radius: 50%;
    }
  }

  .main-product__option-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .main-product__counter--wrapper {
    margin-top: 20px;
  }

  .main-product__counter {
    display: flex;
    margin-top: 15px;
  }

  .main-product__buy-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
    color: $white;
  }

  .main-product-buy-buttons__top {
    width: 100%;
    height: 100%;
  }

  .main-product-buy-buttons__button {
    width: 100%;
    height: 100%;
    color: currentColor;
    background-color: $primary-button-background;

    @include hover {
      background-color: $tertiary-button-background;
      color: $secondary-button-text-color;
      border-color: $primary-button-background;
    }
  }

  .main-product__collapsible-rows {
    margin-top: 30px;
  }
  .main-product__collapse-row {
    border-bottom: 1px solid #DDD;
  }
  .main-product__collapse-row-opener {
    &:not([open]) ~ .main-product-collapse-row__content {
      display: none;
    }

    &[open] {
      .main-product-collapse-row-opener__icon-wrapper {
        &:after {
          transform: translateX(-50%) rotate(90deg);
        }
      }
    }

    &[open] ~ .main-product-collapse-row__content {
      display: flex;
      animation: animation-opacity 0.3s ease-in;
    }
  }
  .main-product-collapse-row-opener__text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    line-height: 40px;
    letter-spacing: 0.7px;

    &:focus-visible {
      outline: Highlight auto 1px;
      outline-offset: 1px;
    }

    &::-webkit-details-marker {
      display: none;
    }
  }
  .main-product-collapse-row-opener__icon-wrapper {
    position: relative;
    display: flex;
    height: 8px;
    width: 8px;

    &::before {
      width: 100%;
      height: 2px;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
    }

    &::after {
      width: 2px;
      height: 100%;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
    }

    &::before,
    &::after {
      content: "";
      will-change: transform;
      position: absolute;
      background-color: $black;
      transition-property: transform;
      transition-duration: 0.3s;
      transition-timing-function: ease;
      -webkit-transition: transform 0.3s ease;
      -moz-transition: transform 0.3s ease;
      -o-transition: transform 0.3s ease;
    }
  }
  .main-product-collapse-row__content {
    max-height: 229px;
    overflow: auto;
    padding-right: 24px;
    margin-bottom: 16px;

    &::-webkit-scrollbar {
      width: 3px;
    }

    &::-webkit-scrollbar-thumb {
      background: rgba(0, 0, 0, 0.20);
      border-radius: 0;

      @include hover {
        background: rgba(0, 0, 0, 0.40);
      }
    }
  }
}