@import "../_utils/utils";

.sidebar-recommendations {
    display: none;
    position: absolute;
    right: 100%;
    width: 100%;
    height: 100%;
    flex-direction: column;
    gap: 26px;
    max-width: 202px;
    background-color: $primary-background-color;
    padding: 30px 26px;
    border-right: 1px solid $border-primary;

    &.move-left {
        @include breakpoint(large) {
            display: flex;
            animation: animation-move-left 0.3s ease;
        }
    }

    .sidebar-recommendations__title {
        line-height: normal;
        letter-spacing: 1.4px;
    }

    .sidebar-recommendations__list {
        display: flex;
        flex-direction: column;
        gap: 18px;
        scrollbar-width: 0;
        overflow: auto;

        &::-webkit-scrollbar {
            width: 0;
        }
    }

    .sidebar-recommendations__item {
        display: flex;
        flex-direction: column;

        &:hover {
            .sidebar-recommendations__form {
                display: flex;
                animation: animation-opacity 0.3s ease;
            }
        }
    }

    .sidebar-recommendations-item__image-wrapper {
        position: relative;
        width: 100%;
        padding-bottom: 151%;
        background-color: $secondary-background-color;
    }

    .sidebar-recommendations-item__image {
        position: absolute;
        top: 0;
        left: 50%;
        width: max-content;
        height: 100%;
        transform: translateX(-50%);
        object-fit: cover;
    }

    .sidebar-recommendations__item-wishlist {
        position: absolute;
        top: 10px;
        right: 10px;
        width: 16px;
        height: 16px;
    }

    .sidebar-recommendations__form {
        display: none;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 0;
        width: 100%;
        padding: 12px 10px;
    }

    .sidebar-recommendations__buy-buttons {
        width: 100%;
    }

    .sidebar-recommendations__buy-button {
        width: 100%;
        padding: 9px 6px;
        background-color: $tertiary-button-background;
        color: $secondary-button-text-color;

        @include hover {
            background-color: $primary-button-background;
            color: $primary-button-text-color;
        }
    }

    .sidebar-recommendations__item-title {
        display: flex;
        justify-content: center;
        margin-top: 10px;
        font-size: 15px;
        line-height: normal;
        text-decoration: none;
    }

    .sidebar-recommendations__item-price {
        display: flex;
        justify-content: center;
        margin-top: 7px;
        opacity: 0.6;
    }

    .sidebar-recommendations__button-error-text {
        width: 100%;
        height: 100%;
        text-align: center;

        &:not(.hidden) ~ .sidebar-recommendations__button-text {
            display: none;
        }
    }
}



