{{- "featured-products.css" | asset_url | stylesheet_tag -}}

{%- liquid
    assign heading = section.settings.heading
    assign products_to_show = section.settings.products_to_show
    assign featured_products = section.settings.product_list
-%}

{%- capture products_list -%}
    {% for featured_product in featured_products limit: products_to_show %}
        {%- render "product-card", product: featured_product -%}
    {% endfor %}
{%- endcapture -%}

<section class="featured-products">
    <div class="container featured-products__container">
        <div class="featured-products__wrapper">
            <div class="featured-products__top-row">
                <h2 class="featured-products__heading">
                    {{- heading -}}
                </h2>
            </div>

            <div class="featured-products__list">
                {{- products_list -}}
            </div>
        </div>
    </div>
</section>

{% schema %}
{
    "name": "featured-products",
    "settings": [
        {
            "type": "text",
            "id": "heading",
            "label": "t:sections.featured-products.settings.heading.label",
            "default": "Customers who bought this item also bought"
        },
        {
            "type": "range",
            "id": "products_to_show",
            "min": 2,
            "max": 20,
            "step": 1,
            "default": 5,
            "label": "t:sections.featured-products.settings.products_to_show.label"
        },
        {
            "type": "product_list",
            "id": "product_list",
            "label": "t:sections.featured-products.settings.product_list.label"
        }
    ],
    "presets": [
        {
            "name": "t:sections.featured-products.name"
        }
    ]
}
{% endschema %}