.size-guide {
    &:not(.show) {
        display: none;
    }

    &.show {
        .size-guide__modal {
            animation: animation-move-left 0.3s ease;
        }

        .size-guide__backdrop {
            animation: animation-opacity-backdrop 0.3s ease;
        }
    }

    .size-guide__heading {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
        padding: 26px 32px 24px;

        .paragraph {
            line-height: normal;
            letter-spacing: 1.4px;
        }

        &::before {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 1px;
            background-color: $tertiary-background-color;
            opacity: 0.1;
        }
    }

    .size-guide__modal {
        position: fixed;
        right: 0;
        top: 0;
        width: 100%;
        background-color: $primary-background-color;
        max-width: 556px;
        z-index: $z-index-modal;
        height: 100vh;
    }

    .size-guide__backdrop {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: $z-index-modal-backdrop;
        background-color: $tertiary-background-color;
        opacity: 0.4;

        @include hover {
            cursor: pointer;
        }
    }

    .size-guide__close-button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 24px;
        height: 24px;
        background-color: transparent;
        padding: 0;
    }

    .size-guide__wrapper {
        overflow: auto;
        height: calc(100% - 68px);
    }

    .size-guide__wrapper-content {
        margin-top: 16px;
        padding: 20px 32px;

        table {
            font-size: 14px;
            font-weight: 400;
            line-height: 16px;
            letter-spacing: 0.56px;
        }

        tr {
            border: 1px solid $secondary-background-color;

            &:first-child {
                background-color: $secondary-background-color;
            }
        }

        td {
            padding: 16px;
        }
    }

    .size-guide__image {
        width: 100%;
    }

    .size-guide__selector {
        display: flex;
        flex-direction: column;
        gap: 14px;
        padding-left: 32px;
        padding-right: 32px;
        margin-top: 20px;
    }

    .size-guide__selector-body {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
    }

    .size-guide__selector-dropdown-wrapper {
        position: relative;
        display: flex;
        max-width: 245px;
        width: 100%;
        border: 1px solid $secondary-background-color;
    }

    .size-guide-selector-dropdown__icon-wrapper {
        pointer-events: none;
        position: absolute;
        right: 29px;
        top: 50%;
        transform: translateY(-50%);
        width: 24px;
        height: 24px;
        display: flex;
        align-items: center;
        justify-content: center;

        svg {
            width: 100%;
            height: 100%;
            transform: rotate(90deg);
        }
    }

    .size-guide__selector-dropdown {
        width: 100%;
        padding: 16px;
        /* for Firefox */
        -moz-appearance: none;
        /* for Chrome */
        -webkit-appearance: none;

        &::-ms-expand {
            display: none;
        }

        @include hover {
            cursor: pointer;
        }
    }

    .size-guide__selector-checkboxes {
        display: flex;
        flex-wrap: wrap;
        gap: 40px;
    }

    .size-guide__selector-group {
        display: flex;
    }

    .size-guide__selector-radio {
        opacity: 0;
        pointer-events: none;
        width: 0;
        height: 0;
        padding: 0;
        margin: 0;
        border: none;
        outline: none;

        &:not(:checked) ~ .size-guide__selector-label {
            .size-guide__selector-checkbox {
                &::after {
                    background-color: transparent;
                }
            }
        }
    }

    .size-guide__selector-label {
        display: flex;
        align-items: center;
        gap: 15px;

        @include hover {
            cursor: pointer;
        }
    }

    .size-guide__selector-checkbox {
        position: relative;
        display: flex;
        min-width: 24px;
        max-width: 24px;
        height: 24px;
        width: 100%;

        &:before {
            width: 100%;
            height: 100%;
            border: 1px solid $tertiary-background-color;
        }

        &:after {
            width: 12px;
            height: 12px;
            background-color: $tertiary-background-color;
        }

        &:before,
        &:after {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            border-radius: 50%;
        }
    }

    .size-guide__selector-text {

    }
}