.featured-products {
  padding-top: 40px;
  padding-bottom: 40px;
}
.featured-products .featured-products__wrapper {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.featured-products .featured-products__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 32px;
}
.featured-products .featured-products__item {
  width: 100%;
  max-width: 400px;
}
.featured-products .featured-products__heading {
  text-align: center;
  font-family: Outfit;
  font-size: 36px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}