.header .header-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 15px;
  padding-bottom: 11px;
  gap: 10px;
  border-bottom: 1px solid #F6F5F3;
}
.header .header-logo {
  width: 96px;
  height: 50px;
}
@media (min-width: 992px) {
  .header .header-logo {
    margin-left: 90px;
  }
}
.header .header-search:not(.header-search--mobile) {
  display: none;
}
@media (min-width: 992px) {
  .header .header-search:not(.header-search--mobile) {
    display: block;
  }
}
.header .header-search__form {
  display: flex;
  align-items: center;
  gap: 13px;
}
.header .header-search__button-icon {
  display: flex;
}
.header .header-logo__link {
  display: flex;
  width: 100%;
  height: auto;
  max-width: var(--header-logo-width-mobile, 80px);
}
@media (min-width: 992px) {
  .header .header-logo__link {
    max-width: var(--header-logo-width-desktop, 100px);
  }
}
.header .header-search__field {
  font-size: 15px;
  font-weight: 300;
  line-height: normal;
  appearance: none;
  border: none;
  padding: 0;
}
.header .header-static {
  display: flex;
  align-items: center;
  gap: 10px;
}
@media (min-width: 992px) {
  .header .header-static {
    gap: 20px;
  }
}
.header .header-static__item {
  text-decoration: none;
  display: flex;
  align-items: center;
  background-color: transparent;
  padding: 0;
  font-size: 15px;
  line-height: normal;
}
@media (min-width: 992px) {
  .header .header-static__item {
    gap: 8px;
  }
}
.header .header-static__item * {
  pointer-events: none;
}
.header .header-static__item-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 20px;
  max-width: 20px;
  height: 20px;
  width: 100%;
}
.header .header-static__item-icon svg {
  width: 100%;
  height: 100%;
}
.header .header-static__item-text {
  display: none;
}
@media (min-width: 992px) {
  .header .header-static__item-text {
    display: block;
  }
}
.header .header-bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #F6F5F3;
}
.header .header-bottom__list {
  display: flex;
  align-items: center;
  gap: 40px;
  overflow: auto;
  scrollbar-width: 0;
  scroll-snap-type: x mandatory;
}
.header .header-bottom__list::-webkit-scrollbar {
  width: 0;
  opacity: 0;
}
.header .header-bottom__list-item {
  font-size: 15px;
  display: flex;
  scroll-snap-align: start;
  scroll-snap-stop: always;
  white-space: nowrap;
}
.header .header-bottom-list-item__link {
  text-decoration: none;
  padding-top: 12px;
  padding-bottom: 12px;
  font-size: 15px;
}