/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
picture,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  font-size: 100%;
}

ol,
ul {
  list-style-image: none;
  list-style-type: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  max-width: 100%;
  height: auto;
}

picture {
  font-size: 0;
  line-height: 0;
}

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  /* 1 */
  overflow: visible;
  /* 1 */
  height: 0;
  box-sizing: content-box;
  /* 2 */
}

/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
  -webkit-tap-highlight-color: transparent;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  position: relative;
  vertical-align: baseline;
  font-size: 75%;
  line-height: 0;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  /* 1 */
  margin: 0;
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input[type=submit] {
  border: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}
@media (-moz-touch-enabled: 0), (hover: hover) {
  button:hover,
  input[type=submit]:hover {
    cursor: pointer;
  }
}

button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  /* 1 */
  padding: 0;
  box-sizing: border-box;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

[hidden] {
  display: none;
}

body {
  font-family: "Outfit";
  font-style: normal;
  font-weight: normal;
  line-height: 1.5;
  color: #000000;
  text-size-adjust: 100%;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-family: "Outfit";
  font-style: normal;
  font-weight: 500;
  word-break: break-word;
  line-height: 1.2;
}

h1,
.h1 {
  font-size: 32px;
}

h2,
.h2 {
  font-size: 28px;
}

h3,
.h3 {
  font-size: 24px;
}

h4,
.h4 {
  font-size: 18px;
}

h5,
.h5 {
  font-size: 16px;
}

h6,
.h6 {
  font-size: 14px;
}

p,
.paragraph {
  font-size: 12px;
}

.weight.weight--light {
  font-weight: 300;
}
.weight.weight--regular {
  font-weight: 400;
}
.weight.weight--medium {
  font-weight: 500;
}

.extra-small {
  font-size: 12px;
}

a {
  color: #000000;
  font-size: 14px;
}
@media (-moz-touch-enabled: 0), (hover: hover) {
  a:hover {
    text-decoration: none;
  }
}
a:focus-visible {
  outline: HighLight auto 1px;
  outline-offset: 3px;
}

.word-break {
  word-break: break-word;
}

@media (min-width: 768px) {
  h1,
  .h1 {
    font-size: 50px;
  }
  h2,
  .h2 {
    font-size: 36px;
  }
  h3,
  .h3 {
    font-size: 30px;
  }
  h4,
  .h4 {
    font-size: 20px;
  }
  h5,
  .h5 {
    font-size: 18px;
  }
  h6,
  .h6 {
    font-size: 14px;
  }
  p,
  .paragraph {
    font-size: 14px;
  }
}
.rte p:not(:last-child) {
  margin-bottom: 7px;
}
.rte blockquote {
  display: inline-flex;
}
.rte ol,
.rte ul {
  list-style-position: inside;
  list-style-type: revert;
  margin-bottom: 20px;
}
.rte ol li,
.rte ul li {
  margin-left: 16px;
  margin-right: 20px;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 30px;
}
@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes dash {
  0% {
    stroke-dasharray: 1, 150;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -45;
  }
  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -120;
  }
}
@keyframes animation-move-right {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  1% {
    transform: translateX(-100%);
    opacity: 0;
  }
  99% {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes animation-move-left {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  1% {
    transform: translateX(100%);
    opacity: 0;
  }
  55% {
    opacity: 0.4;
  }
  99% {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes animation-move-top-centered {
  from {
    transform: translate(-50%, 0);
    opacity: 0;
  }
  1% {
    transform: translate(-50%, 0);
    opacity: 0;
  }
  99% {
    transform: translate(-50%, -50%);
    opacity: 1;
  }
  to {
    transform: translate(-50%, -50%);
    opacity: 1;
  }
}
@keyframes animation-opacity {
  from {
    opacity: 0;
  }
  1% {
    opacity: 0;
  }
  99% {
    opacity: 1;
  }
  to {
    opacity: 1;
  }
}
@keyframes animation-opacity-backdrop {
  from {
    opacity: 0;
  }
  1% {
    opacity: 0;
  }
  99% {
    opacity: 0.4;
  }
  to {
    opacity: 0.4;
  }
}
* {
  outline: none;
  box-sizing: border-box;
}

html,
body {
  background-color: #fff;
  scroll-behavior: smooth;
}

main {
  flex-grow: 1;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1 0 auto;
}
.content.content--column {
  display: flex;
  flex-direction: column;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.hidden {
  display: none !important;
}

.container {
  width: 100%;
  display: block;
  margin: 0 auto;
  padding: 0 20px;
}
.container.container--full-width {
  max-width: 100%;
}
.container.container--no-padding {
  padding-left: 0;
  padding-right: 0;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.placeholder-image {
  border: 1px solid #a8a8a8;
  background-color: #e3e3e3;
}

.stretched-link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}

@media (min-width: 768px) {
  .container.container--full-width {
    max-width: 100%;
  }
  .container.container--no-padding {
    padding-left: 0;
    padding-right: 0;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 1330px;
  }
}
.skip-to-content-link:focus {
  position: inherit;
  z-index: 9999;
  overflow: auto;
  clip: auto;
  width: auto;
  height: auto;
  margin: 10px;
}

.text-upper {
  text-transform: uppercase;
}

.dot {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5px;
  height: 100%;
}
.dot:before {
  content: "";
  width: 5px;
  height: 5px;
  background-color: currentColor;
  border-radius: 50%;
}

.close-button-scale {
  transition: transform 0.1s ease;
  -webkit-transition: transform 0.1s ease;
  -moz-transition: transform 0.1s ease;
  -o-transition: transform 0.1s ease;
}
@media (-moz-touch-enabled: 0), (hover: hover) {
  .close-button-scale:hover {
    transform: scale(1.3);
  }
}
.close-button-scale:active {
  transform: scale(1.1);
}

button:focus-visible,
.button:focus-visible {
  outline: Highlight auto 1px;
  outline-offset: 1px;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-width: 1px;
  border-style: solid;
  border-color: transparent;
  font-family: "Outfit";
  font-size: 14px;
  line-height: normal;
  background-color: transparent;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  font-style: normal;
  transition-duration: 0.3s;
  transition-property: background-color color opacity border;
  transition-timing-function: ease;
  -webkit-transition: background-color color opacity border 0.3s ease;
  -moz-transition: background-color color opacity border 0.3s ease;
  -o-transition: background-color color opacity border 0.3s ease;
  box-shadow: unset;
  position: relative;
  padding: 0;
}
.button::before {
  transition-duration: 0.3s;
  transition-property: background-color color opacity border;
  transition-timing-function: ease;
  -webkit-transition: background-color color opacity border 0.3s ease;
  -moz-transition: background-color color opacity border 0.3s ease;
  -o-transition: background-color color opacity border 0.3s ease;
}
.button .spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  width: 30px;
  height: 30px;
  margin-top: -15px;
  margin-left: -15px;
}
.button .spinner .path {
  stroke-width: 4px;
  stroke: #FFFFFF;
  stroke-linecap: round;
}
.button[disabled], .button.disabled {
  opacity: 0.5;
  cursor: default;
  pointer-events: none;
}
.button .spinner-wrapper {
  visibility: hidden;
  opacity: 0;
}
.button.loading .inner-text {
  visibility: hidden;
  opacity: 1;
}
.button.loading .spinner-wrapper {
  visibility: visible;
  opacity: 1;
}
.button.loading .spinner {
  animation: rotate 2s linear infinite;
}
.button.loading .spinner .path {
  animation: dash 2s linear infinite;
}
.button .inner-text {
  pointer-events: none;
}
.button.button--default {
  padding: 17px;
}
.button.button--arrow {
  background-color: #FFFFFF;
  color: #000000;
  padding: 10px;
  min-width: 44px;
  max-width: 44px;
  min-height: 44px;
  max-height: 44px;
}
@media (min-width: 992px) {
  .button.button--arrow {
    padding: 19px;
    min-width: 61px;
    max-width: 61px;
    min-height: 61px;
    max-height: 61px;
  }
}

.counter {
  display: flex;
  align-items: center;
  border: 1px solid #DDDDDD;
  max-width: max-content;
}
.counter .counter__button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 52px;
  padding: 10px;
  transition-property: background-color, color;
  transition-duration: 0.3s;
  transition-timing-function: ease;
  background-color: transparent;
}
@media (-moz-touch-enabled: 0), (hover: hover) {
  .counter .counter__button:hover {
    background-color: #a8a8a8;
    color: #FFFFFF;
  }
}
.counter .counter__button.disabled {
  pointer-events: none;
}
.counter .counter__input {
  max-width: 60px;
  appearance: none;
  border: none;
  text-align: center;
  outline: none;
  -moz-appearance: textfield;
  background: none;
}
.counter .counter__input::-webkit-outer-spin-button, .counter .counter__input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.cart-counter {
  display: flex;
  align-items: center;
  border: 1px solid #a8a8a8;
  max-width: max-content;
  height: 33px;
}
.cart-counter .counter__button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 21px;
  height: 100%;
  background-color: transparent;
  transition-property: background-color, color;
  transition-duration: 0.3s;
  transition-timing-function: ease;
}
@media (-moz-touch-enabled: 0), (hover: hover) {
  .cart-counter .counter__button:hover {
    background-color: #a8a8a8;
    color: #FFFFFF;
  }
}
.cart-counter .counter__button.disabled {
  pointer-events: none;
}
.cart-counter .counter__button svg {
  width: 7px;
  height: 7px;
}
.cart-counter .counter__input {
  max-width: 28px;
  appearance: none;
  border: none;
  text-align: center;
  outline: none;
  -moz-appearance: textfield;
  background: none;
}
.cart-counter .counter__input::-webkit-outer-spin-button, .cart-counter .counter__input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.product-card {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  row-gap: 14px;
  word-break: break-word;
}
@media (min-width: 992px) {
  .product-card {
    row-gap: 25px;
  }
}
.product-card.product-card--quick-add .product-card__form {
  position: absolute;
  bottom: 10px;
}
@media (min-width: 992px) {
  .product-card.product-card--quick-add:not(:hover) .product-card__form {
    display: none;
  }
  .product-card.product-card--quick-add:hover .product-card__form {
    display: flex;
    animation: animation-opacity 0.3s ease;
  }
}
.product-card.product-card--quick-add .product-card__form {
  display: flex;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  width: 100%;
  padding: 12px 10px;
}
.product-card.product-card--quick-add .product-card__buy-buttons {
  width: 100%;
}
.product-card.product-card--quick-add .product-card__buy-button {
  width: 100%;
  padding: 9px 6px;
  background-color: #FFFFFF;
  color: #000000;
}
@media (-moz-touch-enabled: 0), (hover: hover) {
  .product-card.product-card--quick-add .product-card__buy-button:hover {
    background-color: #000000;
    color: #FFFFFF;
  }
}
@media (min-width: 992px) {
  .product-card.product-card--quick-add .product-card__buy-button {
    padding: 17px 6px;
  }
}
.product-card.product-card--quick-add .product-card__button-error-text:not(.hidden) ~ .product-card__button-text {
  display: none;
}
.product-card.product-card--quick-add .product-card__option {
  display: none;
}
@media (min-width: 992px) {
  .product-card.product-card--quick-add .product-card__option {
    display: block;
  }
}
.product-card .product-card__option-list {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  align-items: center;
}
.product-card .product-card__option-label {
  display: flex;
  align-items: center;
  justify-content: center;
}
.product-card .product-card__option-label.product-card__option-label--color {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: var(--border, 1px solid #DDDDDD);
  background-color: #ffffff;
  filter: drop-shadow(0px 0px 0px #DDDDDD) drop-shadow(0px 0px 0px #ffffff);
}
@media (min-width: 992px) {
  .product-card .product-card__option-label.product-card__option-label--color {
    width: 30px;
    height: 30px;
  }
}
.product-card .product-card__option-label:not(.product-card__option-label--color) {
  min-width: 44px;
  height: 44px;
  border: 1px solid #DDDDDD;
}
.product-card .product-card__option-label .product-card__option-label-fill {
  width: 100%;
  height: 100%;
  background: var(--color-swatch-background, none);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 50%;
}

.product-card__top {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
  overflow: hidden;
}
@media (-moz-touch-enabled: 0), (hover: hover) {
  .product-card__top:hover .product-card__image--secondary {
    visibility: visible;
    opacity: 1;
  }
  .product-card__top:hover .product-card__add-to-cart {
    display: inline-block;
    animation: animation-opacity 0.3s ease;
  }
  .product-card__top:hover .product-card__quick-view {
    display: flex;
    animation: animation-opacity 0.3s ease;
  }
}

.product-card__badges {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 6px;
  padding-right: 6px;
}

.product-card__badges-wrapper {
  display: flex;
  flex-direction: column;
  width: calc(100% - 64px);
  row-gap: 8px;
}

.product-card__badge {
  font-family: "Outfit";
  font-size: 12px;
  line-height: 1.5;
  word-break: break-all;
}
.product-card__badge span {
  display: inline-block;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 5px;
  padding-right: 5px;
  color: var(--product-card-badge-text, #ffffff);
  background-color: var(--product-card-badge-background, #000000);
}

.product-card__wishlist {
  background: none;
}
.product-card__wishlist:active {
  transform: scale(1.1);
}

.product-card__quick-view {
  display: none;
  flex-direction: row;
  justify-content: center;
  background-color: #FFFFFF;
  align-items: center;
  position: absolute;
  bottom: 10px;
  left: 10px;
  right: 10px;
  height: 52px;
}
@media (-moz-touch-enabled: 0), (hover: hover) {
  .product-card__quick-view:hover {
    border-color: #000000;
    color: #FFFFFF;
    background-color: #000000;
  }
}

.product-card__add-to-cart {
  display: none;
  position: absolute;
  bottom: 6px;
  left: 6px;
  width: calc(100% - 12px);
}

.product-card__image-wrapper {
  position: relative;
  width: 100%;
  padding-top: 150.6%;
  background-color: #F6F5F3;
}

.product-card__image {
  position: absolute;
  top: 0;
  left: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
  transition-duration: 0.3s;
  transition-property: visibility, opacity;
  transition-timing-function: ease;
  transform: translateX(-50%);
  max-width: max-content;
}
@media (min-width: 992px) {
  .product-card__image {
    max-width: 140px;
  }
}

.product-card__image--secondary {
  visibility: hidden;
  opacity: 0;
}

.product-card__bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 8px;
}

.product-card__vendor {
  font-family: "Outfit";
  font-size: 12px;
  font-weight: 300;
  line-height: 1.5;
  color: #FFFFFF;
}

.product-card__title {
  font-family: "Outfit";
  font-size: 16px;
  line-height: 1.5;
  color: #000000;
  text-decoration: none;
}

.product-card__price-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 8px;
}

.product-card__price {
  display: flex;
  gap: 18px;
  font-family: "Outfit";
  font-size: 14px;
  font-weight: 300;
  line-height: normal;
  color: #000000;
}

.product-card__price--actual-at-price {
  color: #EC1578;
  font-weight: 400;
}

.product-card__price--compare-at-price {
  text-decoration: line-through;
  opacity: 0.6;
}

@media (min-width: 768px) {
  .product-card__badge {
    font-size: 14px;
    line-height: 1.3;
  }
  .product-card__badge span {
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .product.vendor {
    font-size: 14px;
  }
  .product-card__title {
    font-size: 18px;
  }
}
.size-guide:not(.show) {
  display: none;
}
.size-guide.show .size-guide__modal {
  animation: animation-move-left 0.3s ease;
}
.size-guide.show .size-guide__backdrop {
  animation: animation-opacity-backdrop 0.3s ease;
}
.size-guide .size-guide__heading {
  position: sticky;
  top: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  padding: 26px 32px 24px;
  background-color: #FFFFFF;
}
.size-guide .size-guide__heading .paragraph {
  line-height: normal;
  letter-spacing: 1.4px;
}
.size-guide .size-guide__heading::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #000000;
  opacity: 0.1;
}
.size-guide .size-guide__modal {
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  background-color: #FFFFFF;
  max-width: 556px;
  z-index: 1001;
  height: 100vh;
  overflow: auto;
}
.size-guide .size-guide__backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background-color: #000000;
  opacity: 0.4;
}
@media (-moz-touch-enabled: 0), (hover: hover) {
  .size-guide .size-guide__backdrop:hover {
    cursor: pointer;
  }
}
.size-guide .size-guide__close-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  background-color: transparent;
  padding: 0;
}
.size-guide .size-guide__wrapper {
  height: 100%;
}
.size-guide .size-guide__wrapper-content {
  margin-top: 16px;
  padding: 20px 32px;
}
.size-guide .size-guide__wrapper-content table {
  display: flex;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.56px;
  overflow: auto;
}
.size-guide .size-guide__wrapper-content tbody {
  width: 100%;
}
.size-guide .size-guide__wrapper-content tr {
  border: 1px solid #F6F5F3;
}
.size-guide .size-guide__wrapper-content tr:first-child {
  background-color: #F6F5F3;
}
.size-guide .size-guide__wrapper-content td {
  padding: 12px 16px;
  white-space: nowrap;
  width: 100%;
}
.size-guide .size-guide__wrapper-content td:first-child {
  width: 95px;
  min-width: 95px;
}
.size-guide .size-guide__wrapper-content td:not(:first-child) {
  padding: 12px 17px;
}
.size-guide .size-guide__wrapper-content td:last-child {
  padding-right: 10px;
}
.size-guide .size-guide__wrapper-content h1, .size-guide .size-guide__wrapper-content h2, .size-guide .size-guide__wrapper-content h3, .size-guide .size-guide__wrapper-content h4, .size-guide .size-guide__wrapper-content h5, .size-guide .size-guide__wrapper-content h6 {
  font-weight: 400;
  margin-bottom: 6px;
}
.size-guide .size-guide__wrapper-content h5 {
  font-size: 20px;
}
.size-guide .size-guide__wrapper-content p {
  font-size: 16px;
}
.size-guide .size-guide__image {
  width: 100%;
}
.size-guide .size-guide__selector {
  display: flex;
  flex-direction: column;
  gap: 14px;
  padding-left: 32px;
  padding-right: 32px;
  margin-top: 20px;
}
.size-guide .size-guide__selector-body {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.size-guide .size-guide__selector-dropdown-wrapper {
  position: relative;
  display: flex;
  max-width: 245px;
  width: 100%;
  border: 1px solid #F6F5F3;
}
.size-guide .size-guide-selector-dropdown__icon-wrapper {
  pointer-events: none;
  position: absolute;
  right: 29px;
  top: 50%;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.size-guide .size-guide-selector-dropdown__icon-wrapper svg {
  width: 100%;
  height: 100%;
  transform: rotate(90deg);
}
.size-guide .size-guide__selector-dropdown {
  width: 100%;
  padding: 16px;
  /* for Firefox */
  -moz-appearance: none;
  /* for Chrome */
  -webkit-appearance: none;
}
.size-guide .size-guide__selector-dropdown::-ms-expand {
  display: none;
}
@media (-moz-touch-enabled: 0), (hover: hover) {
  .size-guide .size-guide__selector-dropdown:hover {
    cursor: pointer;
  }
}
.size-guide .size-guide__selector-checkboxes {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
@media (min-width: 992px) {
  .size-guide .size-guide__selector-checkboxes {
    gap: 40px;
  }
}
.size-guide .size-guide__selector-group {
  display: flex;
}
.size-guide .size-guide__selector-radio {
  opacity: 0;
  pointer-events: none;
  width: 0;
  height: 0;
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
}
.size-guide .size-guide__selector-radio:not(:checked) ~ .size-guide__selector-label .size-guide__selector-checkbox::after {
  background-color: transparent;
}
.size-guide .size-guide__selector-label {
  display: flex;
  align-items: center;
  gap: 15px;
}
@media (-moz-touch-enabled: 0), (hover: hover) {
  .size-guide .size-guide__selector-label:hover {
    cursor: pointer;
  }
}
.size-guide .size-guide__selector-checkbox {
  position: relative;
  display: flex;
  min-width: 24px;
  max-width: 24px;
  height: 24px;
  width: 100%;
}
.size-guide .size-guide__selector-checkbox:before {
  width: 100%;
  height: 100%;
  border: 1px solid #000000;
}
.size-guide .size-guide__selector-checkbox:after {
  width: 12px;
  height: 12px;
  background-color: #000000;
}
.size-guide .size-guide__selector-checkbox:before, .size-guide .size-guide__selector-checkbox:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  transition-duration: 0.3s;
  transition-property: background-color;
  transition-timing-function: ease;
  -webkit-transition: background-color 0.3s ease;
  -moz-transition: background-color 0.3s ease;
  -o-transition: background-color 0.3s ease;
}
.cart-item {
  position: relative;
  display: flex;
  gap: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.cart-item::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: #000000;
  opacity: 0.1;
}
.cart-item .cart-item__image-wrapper {
  position: relative;
  padding-bottom: 34.625%;
  min-width: 115px;
  background-color: #F6F5F3;
}
.cart-item .cart-item__image {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: max-content;
  height: 100%;
  object-fit: cover;
}
.cart-item .cart-item__body {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.cart-item .cart-item__heading {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 10px;
  padding-bottom: 5px;
}
@media (min-width: 992px) {
  .cart-item .cart-item__heading {
    flex-direction: row;
    gap: 20px;
    padding-bottom: 0;
  }
}
.cart-item .cart-item__title {
  line-height: 22px;
  letter-spacing: 0.56px;
  text-decoration: none;
}
.cart-item .cart-item__prices {
  display: flex;
  flex-direction: column;
  line-height: 22px;
  letter-spacing: 1.4px;
  white-space: nowrap;
}
.cart-item .cart-item__options {
  display: flex;
  flex-direction: column;
  letter-spacing: 0.56px;
  opacity: 0.6;
}
.cart-item .cart-item__option {
  line-height: 20px;
}
.cart-item .cart-item__body-top {
  display: flex;
  flex-direction: column;
  gap: 7px;
  flex-grow: 1;
}
.cart-item .cart-item__body-bottom {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-between;
}
.cart-item .cart-item__remove-button {
  letter-spacing: 1.2px;
  opacity: 0.6;
  text-decoration: none;
  transition-duration: 0.3s;
  transition-property: opacity;
  transition-timing-function: ease;
  -webkit-transition: opacity 0.3s ease;
  -moz-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
}
@media (-moz-touch-enabled: 0), (hover: hover) {
  .cart-item .cart-item__remove-button:hover {
    opacity: 1;
  }
}

.empty-cart {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.custom {
  text-align: center;
}